<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="burger-image">
 <div class="burger-text">
<div class="jumbotron">
<div class="display-4 text-center">
 <img src="../assets/image/hamburger.png" alt="Burger" width="300" height="200"</image>
<h1>Burgers!</h1>
</div>

</div>


<h2>Available Burgers</h2>

<ul>
  {{#each burgers}}
   <li>
  	   <p>{{this.id}}</p>
       <p>{{this.name}}</p>
  	</li>
  {{/each}}
</ul>


<h2>Devoured Burgers!</h2>

<ul>
  {{#each burgers}}
   <li>{{name}}</li>
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form" action="/" method="POST">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  
  <button type="submit">Add Burger</button>
</form>

<h2>Remove a Burger</h2>
<form class="create-form" action="/" method="POST">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  
  <button type="submit">Delete Burger</button>
</form>

</div>
</div>

